.paper {
  display: block;
  margin: auto;
  overflow: visible;
  width: 100%;
  max-width: 224px;
  height: auto;
}
.paper__fill {
  fill: hsl(0, 0%, 100%);
}
.paper__outline,
.paper__lines {
  transition: stroke 0.3s;
}
.paper__outline {
  stroke: hsl(223, 10%, 10%);
}
.paper__lines {
  stroke: hsl(223, 10%, 70%);
}
.paper__shadow {
  fill: hsl(223, 10%, 70%);
  transition: fill 0.3s;
}
.paper__top,
.paper__bottom,
.paper__tear,
.paper__tear-fill {
  animation: paperTop 1.25s cubic-bezier(0.77, 0, 0.18, 1);
}
.paper__top,
.paper__bottom {
  transform-origin: 0 148px;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}
.paper__top {
  transform: translate(0, 8px);
}
.paper__bottom {
  animation-name: paperBottom;
  transform: translate(0, 42px);
}
.paper__tear,
.paper__tear-fill {
  animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}
.paper__tear {
  animation-name: paperTear;
  stroke-dashoffset: 0;
}
.paper__tear-fill {
  animation-name: paperTearFill;
}
.paper__outline:hover .paper__top,
.paper__outline:hover .paper__bottom {
  transform: translate(0, 25px);
}

/* Beyond mobile */
@media (min-width: 768px) {
  .paper {
    max-width: 300px;
  }
}

/* Animations */
@keyframes paperTop {
  from,
  40% {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translate(0, 25px) rotate(0);
    transform-origin: 61px 148px;
  }
  70% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1.5);
    transform: translate(0, 25px) rotate(-5deg);
    transform-origin: 61px 148px;
  }
  to {
    transform: translate(0, 8px) rotate(0);
    transform-origin: 0 148px;
  }
}
@keyframes paperBottom {
  from,
  40% {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translate(0, 25px) rotate(0);
    transform-origin: 61px 148px;
  }
  70% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1.5);
    transform: translate(0, 25px) rotate(5deg);
    transform-origin: 61px 148px;
  }
  to {
    transform: translate(0, 42px) rotate(0);
    transform-origin: 0 148px;
  }
}
@keyframes paperTear {
  from,
  40% {
    stroke-dashoffset: -198;
  }
  70%,
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes paperTearFill {
  from,
  40% {
    width: 187px;
  }
  70%,
  to {
    width: 0;
  }
}
